{% extends 'index/base.html' %}
{% block content %}
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1 class="text-center mb-4">Who am I?</h1>
        <p>My name's Robert Butler.</p>
        <p>I've spend the last decade working on data and technology aspects of the Pharmaceutical industry.</p>
        <p>My specialization is in automating workflows and using analytics to form insights about clinical study data and commercial data.</p>
        <p>My hope with this site is to create a central hub of my programming projects and learning resources.</p>
        <p>If you'd like to contact me or if you have any questions about this site, then feel free to reach out to me through the contact page.</p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <h1 class="text-center mb-4">How was this website made?</h1>
        <p>This website is powered with a Linux server, hosted by <a href="https://www.linode.com/" target="_blank">Linode</a>.</p>
        <p>The backend of the website was developed through <a href="https://www.python.org/" target="_blank">Python</a>, using the <a href="https://www.djangoproject.com/" target="_blank">Django</a> framework.</p>
        <p>The website's frontend was designed with <a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a>.</p>
      </div>
    </div>
  </div>
{% endblock content %}